body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 95vh;
    background-color: aliceblue;
    width: 50vh;
    

}
.display-value{
    border: 1px solid blueviolet;
    height: 30vh;
    background-color: antiquewhite;
    font-size:50px; 
    vertical-align: text-bottom;

}
input{
    border: 0;
    height: 5vh;
    width: 100%;
    font-size: 40px;
}

.display-inputval{
    color: rgb(0, 255, 170);
    
}
.display-outputval{
    color: blue;

}
.display-keypad{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;

}

.cal-box{
    border: 1px solid black;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.cal-box:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid rgb(229, 255, 0);
}
:nth-child(20) {
    background: greenyellow;
    border-radius: 25% 25%;
  }




/* .box-1{order: 0;}
.box-2{order: 1;}
.box-3{order: 1;}
.box-4{order: 1;}
.box-5{order: 1;}
.box-6{order: 1;}
.box-7{order: 1;}
.box-8{order: 1;}
.box-9{order: 1;}
.box-0{order: 1;}
.box-mod{order: 1;}
.box-add{order: 1;}
.box-sub{order: 1;}
.box-mul{order: 1;}
.box-div{order: 1;}
.box-eql{order: 1;}
.box-clear{order: 1;}
.box-fullclear{order: 1;}
.box-dot{order: 1;}
.box-emt{order: 1;} */